li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1 {
  text-align: center;
}
h4 {
  text-align: center;
}
.pokemon-card {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  width: max-content;
}

.pokemon-card:hover {
  opacity: 0.5;
}
.card-container {
  width: max-content;
  top: 25vh;
  left: 40vw;
}
.video-container {
  width: auto;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  body {
    zoom: 0.75;
  }
  .card-container {
    width: auto;
    top: 25vh;
    left: 50vw;
  }
}
